################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApi.Samples.Solution/packages
/WebApi.Samples.Solution/WebApi.Sample/bin
/WebApi.Samples.Solution/WebApi.Sample/obj/Debug
/WebApi.Samples.Solution/WebApi.Sample.Tests/bin/Debug
/WebApi.Samples.Solution/WebApi.Sample.Tests/obj/Debug
